/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-header{
  .hero{
    position: relative;
    left: 20px;
  }
}
.main-navigation{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 5px;
  @include tablet{
    flex-direction: row;
  }
  ul {
    
    li{
      margin: 0 15px;
      a{
        color: $color__text-secondary;
      }
    }
    .menu-item-238::after{
      content: "|";
      color: $color__text-main;
      position: relative;
      top: -25px;
      left: 60px;
      }
    .menu-item-236::after{
      content: "|";
      color: $color__text-main;
      position: relative;
      top: -25px;
      left: 80px;
    }
    
  }
  .menu-main-menu-container{
    @include tablet{
      display: inline-block;
      width: 315px;
      &::after{
        content: "|";
      }
    }
  }
  
  p{
    margin: 0 15px;

    .footer-link{
      color: $color__text-secondary;
    }
    .footer-uppercase{
      text-transform: uppercase;
    }
    @include tablet{
      display: inline-block;
      width: 250px;
      margin: 0 5px;
    }
  }
}
.site-main{
  padding-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // width: 95vw;
  height: 60vh;
  article{
    margin: 5px;
    color: $color__text-main;
    // width: 80vw;
    .entry-meta{
      margin-bottom: 1rem;
      h2{
        display: inline-block;
        margin: 0;
        // margin-bottom: 1rem;
      }
      .source{
        color: $color__text-main;
        a{
          @include link;
        }
      }
      
    }
    
    @include desktop{
      &::before{
        content: '“';
        font-size: 200px;
        font-family: $font__main;
        color: $color__text-secondary;
        padding: 0;
        margin: 0;
        height: 50px;
        position: absolute;
        left: 0;
        top: 50px;
      }
      &::after{
        content: '”';
        font-size: 200px;
        font-family: $font__main;
        color: $color__text-secondary;
      }
    }
  }
  #new-quote-button{
    @include button;
  }
}
//HOME PAGE AND SINGLE PAGE
.home,
.single{
  .site-main{
    article{
    width: 100%;
    padding-left: 10px;
    }
    #new-quote-button{
      @include button
    }
  }
}
//ARCHIVES PAGE STYLING
.page-id-217{
  .page-header{
    width: 100%;
    text-align: left;
  }
  .site-main{
    height: auto;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  a{
    @include link;
    font-style: normal;
  }
  .archive-tag-list,
  .archive-author-list,
  .archive-cat-list{
    list-style-type: none;
    margin: 5px 25px 40px 0;
    margin-right: 25px;
    padding: 0;
    li{
      display: inline-block;
      margin: 5px 10px;
    }
  }
  @include tablet{
    h1,h2{
      margin-left: 10px;
    }
  }
}
//CATEGORY AND TAG PAGES
.category,
.tag{
  .site-main{
    height: auto;
    margin-bottom: 50px;
    .page-header{
      border-bottom: 1px dashed #ffffff;
      width: 95vw;
      padding-left: 5px;
    }
    article{
      border-bottom: 1px dashed #ffffff;
      padding-bottom: 30px;
      width: 95vw;
      margin: 0 10px;
    }
    .number-pagination{
      width: 95vw;
      margin: 20px 0;
      .page-numbers{
        padding: 0 5px;
        @include link;
        font-style: normal;
        
      }
    }
  }
}

/* About Page */
.page-id-107{
  
  .site-main{
    height: auto;
    // margin-left: 2px;
    a{
      @include link;
    }
  }
  footer{
    margin-top: 30px;
  }
}
// Submit a Quote Page
.page-id-111{
  .site-main{
    // width: 95vw;
    height: auto;
    section{
      width: 95vw;
    }
    .quote-author::after{
      content: " *";
      color: red;
      }
    .quote-content::after{
      content: " *";
      color: red;
    }
    #submit-button{
      @include button;
    }
  }
}
